{% extends "layout.html" %}

{% block pagetitle %}
    <h1>Edit courses list</h1>
{% endblock %}

{% block body %}
    <table class="table table-striped">
        <thead>
            <th>Title</th><th>Platform</th><th>Category</th><th>Duration</th><th>Effort</th><th>Date started</th><th>Date finished</th>
        </thead>
        <tbody>
        {% for row in rows %}
            <tr>
                <td>{{ row.title }}</td><td>{{ row.platform }}</td><td>{{ row.category[3:] }}</td>
                <td>{{ row.duration }} weeks</td><td>{{ row.effort }} hours/week</td><td>{{ row.started[:10] }}</td>
                <td><form action="/edit" method="post"><button name="delete" class="btn btn-warning" type="submit" value="{{ row.id }}">Delete course</button></form></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}