{% extends "layout.html" %}

{% block pagetitle %}
    <h1>Edit courses list</h1>
{% endblock %}

{% block body %}
    <table class="table table-striped">
        <thead>
            <th>Title</th><th>Category</th><th>Duration</th><th>Effort</th><th>Date started</th><th>Date finished</th>
        </thead>
        <tbody>
        {% for row in rows %}
            <tr>
                <td>{{ row["title"] }}</td><td>{{ row["category"] }}</td>
                <td>{{ row["duration"] }} weeks</td><td>{{ row["effort"] }} hours/week</td><td>{{ row["started"] }}</td>
                <td><form action="/edit" method="post"><button type="submit" value="Submit">Delete course</button></form></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}