{% extends "layout.html" %}

{% block pagetitle %}
    <h1>New Course</h1>
{% endblock %}

{% block body %}
    <p>Please insert details for the new the course in the form below</p>
    <form action="/new" method="post">
        <label for="title">Course title</label>
        <input name="title" type="text" placeholder="Course title" required>

        <br><br>

        <label for="platform">Learning platform</label>
        <input name="platform" type="text" placeholder="Learning platform" required>

        <br><br>

        <label for="category">Select course category</label>
        <select name="category" required>
            <option value="" selected disabled hidden>Choose category here</option><!-- placeholder for the select input-->
            <option name="prerequisites">1. Prerequisites</option>
            <option name="introCS">2. Intro CS</option>
            <option name="coreCS">3. Core CS</option>
            <option name="advancedCS">4. Advanced CS</option>
        </select>

        <br><br>

        <label for="duration">Course duration in weeks</label>
        <input name="duration" type="number" placeholder="Duration" min="0" required>

        <br><br>

        <label for="effort">Course duration in hours per week</label>
        <input name="effort" type="number" placeholder="Hours / week" min="0" required>

        <br><br>

        <input class="btn btn-info" type="submit" value="Submit Course">
    </form>
{% endblock %}